*{
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #ff0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}

li:hover {
    background-color:#de3560;
    padding: 10px;
    border-radius: 25px;
    transition: ease-in-out 0.5s;
    
}

#s1 {
    display: flex;
    flex-direction: row;
    background-color: #de3560;
}

#perfil {
    width: 550px;
}

#container {    
    margin-top: 40px; 
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.titulo {
    font-size: 50px;
    text-align: center;
}

.text {
    font-size: 23px;
    margin-top: 10px;
}

#s2 {
    display: flex;
    flex-direction: row;
    background-color: orange;
}

#str {
    width: 500px;
}

#resenha {
    margin-top: 20px;
}

#desc_resenha{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

#s3 {
    background-color: yellow;
}

#django_title{
    padding-top: 20px;
}

#django_movie {
    display: flex;
}

#django {
    width: 250px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 20px;
    border: 2px solid #000;
}

#text_django {
    margin: 20px 60px;
}

button {
    width: 200px;
    height: 50px;
    background-color: #de3560;
    border: 2px solid #000;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 45px;
    margin-bottom: 20px;
}

#s4 {
    background-color: #008000;
    
}

#desc_pant{
    display: flex;
}

#text_pant{
    margin: 10px 30px;
}

#pantera {
    height: 420px;
    margin: 10px 20px;
    border-radius: 15px;
}

footer {
    background-color: #de3560;
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 23px;
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;
    padding-left: 220px;
}

#infooter {
    color: #000;
}

#git_logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}